/* GENERAL */
.datos{
    color: #F8A733;
    font: normal normal 1.6vw Roboto;
}
.datos form{
    padding-bottom: 1%;
}
.datos input, textarea{
    background: #EFD9BBB8 0% 0% no-repeat padding-box;
    border: 2px solid #FFFFFF;
    border-radius:5px;
    padding: .32%;
}
.select2{
    background: #EFD9BBB8 0% 0% no-repeat padding-box;
    border: 2px solid #FFFFFF;
    border-radius:5px;
    text-align: left;
    width: 72% !important;
}
.select2-results, .select2-search input{
    background: #EFD9BBB8 0% 0% no-repeat padding-box;
    border: 2px solid #FFFFFF;
    border-radius:5px;
}
.select2-selection__rendered{
    background: #b7a792 0% 0% no-repeat padding-box;
}


/* BUSQUEDA */
.datos-busqueda{
    margin-top: 0%;
    float:left;
    width: 100%;
    text-align: center;
}
.datos-busqueda label{
    font: normal normal 1.7vw Roboto;
}

.datos-busqueda button{
    padding: 0%;
    width: 9%;
}

/* GENERAL CLIENTE */
.datos-cliente{
    margin: auto;
    margin-top: 5%;
    text-align: center;
    width: 80%;
    height: 60%;
}
.datos-cliente label{
    float: left;
}
.datos-cliente input{
    float: left;
    padding: 0.8%;
}

/* NOMBRE */
.datos-nombre{
    display: inline-block;
    width: 51%;
    float: left;
}
.datos-nombre input{
    width: 98%;
}

/* TELEFONO */
.datos-telefono{
    display: inline-block;
    width: 48%;
    float: right;
}
.datos-telefono label{
    float: right;
    width: 71%;
    text-align: left;
}
.datos-telefono input{
    float: right;
    width: 71%;
}

/* COLONIA */
.datos-colonia{
    display: inline-block;
    margin-top: 3%;
    width: 50%;
    float: left;
}
.datos-colonia input{
    width: 92%;
}

/* CALLE */
.datos-calle{
    display: inline-block;
    margin-top: 3%;
    width: 50%;
    float: right;
}
.datos-calle label{
    width: 90%;
    float: right;
    text-align: left;
}
.datos-calle input{
    width: 90%;
    float: right;
}

/* COSTO */
.datos-costo{
    display: inline-block;
    margin-top: 3%;
    width: 36%;
    float: right;
}
.datos-costo label{
    float: left;
    padding-top: 0.6%;
}
.datos-costo input{
    float: right;
    width: 44%;
    z-index: 2;
}

/* REFERENCIA */
.datos-referencia{
    display: inline-block;
    margin-top: -1%;
    width: 100%;
    float: left;
}
.datos-referencia label{
    float: left;
}
.datos-referencia textarea{
    font: normal normal 1.2vw Roboto;
    float: right;
    width: 100%;
    padding: 0%;
    resize: none;
}

/* BOTON SIGUIENTE */
.datos-siguiente{
    display: inline-block;
    margin-top: 2%;
    margin-right: 6.2%;
    float: right;
    width: 14%;
    padding-bottom: 2%;
}
.datos-siguiente button{
    width: 100%;
}