/* FONDO PRINCIPAL */
html,body, .app, .inicioSesion{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -2;
}
.app {
    background: url("../imagenes/fondo2.jpg") no-repeat top center fixed;
    background-size: cover;
    position: relative;
    height: 100%;
    overflow: hidden;
}
.container-fluid {
    width: 78%;
}
.fondo-div{
    background: #191919CF 0% 0% no-repeat padding-box;
    border: 3px solid #FFFFFF;
    border-radius: 60px;
    position: relative;
    margin-top: 3%;
}

/* FONDO CON VIDEO */
#video_background {
    position: fixed;
    top: 50%; left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1;
    overflow: hidden;
}
@media (min-aspect-ratio: 16/9) {
    #video_background {
        width:100%;
        height: auto;
    }

}
@media (max-aspect-ratio: 16/9) {
    #video_background { 
        width:auto;
        height: 100%;
    }
}

/*MENU DE NAVEGACION*/
.navegador {
    font: italic normal normal 1.6vw Roboto;
    letter-spacing: 0px;
    padding-top: 3.5%;
    text-align: center;
}
.navegador .nav-li{
    display: inline;
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
}
.navegador .nav-li a {
    color: #FFFFFF;
    padding-top: .5%;
    padding-bottom: .5%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    text-decoration: none;
}
.navegador .nav-li a:hover {
    background: #FFFFFFB8 0% 0% no-repeat padding-box;
    border: 1px solid #70707000;
    border-radius: 29px;
    color: #000000;
}
.navegador .nav-li a:focus {
    background: #FFFFFFB8 0% 0% no-repeat padding-box;
    border: 1px solid #70707000;
    border-radius: 29px;
    color: #000000;
}
.nav-seleccionado {
    background: #FFFFFFB8 0% 0% no-repeat padding-box;
    border: 1px solid #70707000;
    border-radius: 29px;
    color: #000000;
}

/*MENU DE USUARIO*/

.nav-opciones{
    font: italic normal normal 1.6vw Roboto;
    letter-spacing: 0px;
    position: absolute;
    text-align: center;
    padding-top: 3.4%;
    top: 0;
    right: 7%;
    width: 1%;
}
.nav-opciones li{
    display: inline;
}
.nav-opciones .a-border{
    padding-left: 0;
    border-radius: 100%;
}
.dropdown-toggle{
    color: #ffffff00;
    position: absolute;
    text-align: center;
    padding-top: 2.8%;
    top: 80%;
}
.dropdown-toggle:hover{
    color: #ffffff00;
}
.dropdown-toggle img{
    height: 135%;
    width: 134%;
}
#flechaBlanca{
    height: 60%;
    width: 60%;
}
.dropdown-menu{
    background: #191919CF 0% 0% no-repeat padding-box;
    border: 3px solid #FFFFFF;
    padding-top: -10%;
}
.dropdown-menu-sm-right{
    min-width: 795%;
}
.dropdown-item{
    color:white;
    font: italic normal normal 1.2vw Roboto;
    text-align: left;
    padding:4%;
}


/*LINEA DEL TIEMPO*/
.linea-tiempo{
    margin-top: 1.7%;
    margin-left: 0.8%;
    text-align: left;
}
.linea-tiempo .nav-li{
    display: inline;
    padding-right: 1%;
    text-align: center;
}
.linea-tiempo .nav-li a {
    color: white;
    font: normal normal bold 1.5vw Roboto;
    letter-spacing: 0px;
    text-decoration: none;
}
.linea-tiempo .nav-li .seleccionado {
    text-decoration:underline;
}
.linea-tiempo .nav-li img {
    margin-bottom: 0.8%;
    height: 1.5%;
    width: 1.5%;
    transform: rotate(270deg);
}

/* BOTONES */
button{
    border: 2px solid #ffffff; 
    background-color:#8b0c0cb9;
    border-radius: 100px;
    color: #FFFFFF;
    font: normal normal 1.4vw Roboto;
    letter-spacing: 0px;
    text-align: center;
}
button:hover{
    color: #FFFFFF;
    background-color:#191919CF;
    border: 2px solid #8b0c0cb9; 
    border-radius: 100px;
}

/*
.fondo-blur{
    position: relative;
    overflow: hidden;
}
  
.fondo-blur::before{
    content: '';
    display: block;
    background: inherit;
    position: absolute;
    width: 100%; height: 100%;
    left: 0; top: 0;
    filter: blur(px);
}
*/