/* FONDO DE */
.orden-div{
    position: relative;
    background: #191919CF 0% 0% no-repeat padding-box;
    border: 3px solid #FFFFFF;
    border-radius: 60px;
    margin-top: 3%;
    height: 80%;
}

/* FONDO LOS ITEMS */
.orden-items{
    position: relative;
    width: 100%;
    height: 75%;
    overflow-y: auto !important;
    overflow-x: hidden;
}

/* SCROLLVAR VERTICAL - FONDO DE LOS ITEMS */
.orden-items::-webkit-scrollbar {
    visibility: hidden;
    width: 5px;
}
.orden-items:hover::-webkit-scrollbar {
    background: #191919CF; 
    width: 5px;
}
.orden-items:hover::-webkit-scrollbar-thumb {
  background-color:#888;
  border-radius: 60px;
}
.orden-items:hover::-webkit-scrollbar-track {
    background: #191919CF;
}

/* ITEMS */
.item{
    display: inline-table;
    width: 12%;
    margin-left: 3.85%;
    margin-top: 1%;
    margin-bottom: 3%;
    color: #F8A733;
}
.item:hover{
    cursor: pointer;
}
.item:hover > .item-text{
    background: #D87425  0% 0% no-repeat padding-box;
    color:white;
    cursor: pointer;
}
.item-img img {
    width: 100%;
    height: auto;
    border-radius:20%;
}    
.item-text{
    padding: 0.5%;
    margin-top: -70%;
    background: #444444 0% 0% no-repeat padding-box;
    border-radius: 15%;
    z-index: 0;
}
.item-text h5 {
    font: normal normal bold 1.4vw Roboto;
    text-align: center;
    margin-top: 72%;
}   

/* CSS APLICABLE CUANDO SE ABRE EL NUEVO MENU */
.orden-isOpacity{
    opacity: 0.6;
}
.orden-isOpacity2{
    opacity: 0.4;
}

/* BOTON SIGUIENTE */
.orden-siguiente{
    position: absolute;
    top: 90%;
    right: 4%;
    width: 14%;
}
.orden-siguiente button{
    width: 100%;
}

/* TODA LA PANTALLA */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: var(--black);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    height: 100%;
    width: 100%;
}
/* MOSTRAR EN PANTAÑA */
.modal.is-visible {
    visibility: visible;
    opacity: 1;
}
/* FONDO DE ENMEDIO */
.modal-dialog {
    position: relative;
    min-width: 70%;
    max-width: 70%;
    max-height: 80vh;
    border-radius: 5px;
    background: var(--white);
    cursor: default;
    border: 3px solid #FFFFFF;
    border-radius: 60px;
    height: 67%;
    margin-top: 8%;
}
/* FONDO DENTRO DEL FONDO DE ENMEDIO*/
.modal-content{
    position: relative;
    background: #191919ef 0% 0% no-repeat padding-box;
    border-radius: 60px;
    color: white;
    height: 100%;
}
.modal-dialog > * {
    padding: 1rem;
}
/* TITULO */
.modal-header{
    background: #412828 0% 0% no-repeat padding-box;
    border-radius: 60px;
    border-bottom: 0px solid white;
    padding: 0.3rem;
    padding-bottom: 0;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.modal-header h3{
    width: 100%;
    text-align: center;
    font: normal normal bold 1.8vw Roboto;
}
/* FLECHA DE CIERRE */
.close-modal {
    position: relative;
    top: -4%;
    left: 1%;
    font-size: 1.5rem;
    text-decoration: none;
    cursor: pointer;
    z-index: 5;
    width: 100%;
}
#orden-felchaBlanca{
    height: 30%;
    width: 2%;
    transform: rotate(90deg);
}
/* SECTION ITEMS */
.modal-content-items{
    overflow-y: auto !important;
    overflow-x: hidden;
}
/* SCROLLVAR VERTICAL - FONDO DE LOS ITEMS */
.modal-content-items::-webkit-scrollbar {
    visibility: hidden;
    width: 5px;
}
.modal-content-items:hover::-webkit-scrollbar {
    background: #191919CF; 
    width: 5px;
}
.modal-content-items::-webkit-scrollbar-thumb {
    background-color:#888;
    border-radius: 60px;
}
.modal-content-items::-webkit-scrollbar-track {
    background: #191919CF;
}

/* MODAL ITEMS */
.modal-item{
    display:inline-table;
    width: 15%;
    margin-left: 3.85%;
    margin-top: 1%;
    margin-bottom: 3%;
    color: #F8A733;
}
.modal-item:hover{
    cursor: pointer;
}
.modal-item:hover > .modal-item-text{
    background: #D87425  0% 0% no-repeat padding-box;
    color:white;
    cursor: pointer;
}
.modal-item-img img {
    width: 100%;
    height: auto;
    border-radius:20%;
}    
.modal-item-text{
    padding: 0.5%;
    margin-top: -70%;
    background: #444444 0% 0% no-repeat padding-box;
    border-radius: 15%;
    z-index: 0;
}
.modal-item-text h5 {
    font: normal normal bold 1.4vw Roboto;
    text-align: center;
    margin-top: 72%;
}   

/* TODA LA PANTALLA 2 */
.modal2 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: var(--black);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    height: 100%;
    width: 100%;
}
/* MOSTRAR EN PANTAÑA */
.modal2.is-visible {
    visibility: visible;
    opacity: 1;
}
/* FONDO DE ENMEDIO */
.modal2-dialog {
    position: relative;
    min-width: 70%;
    max-width: 70%;
    max-height: 80vh;
    border-radius: 5px;
    background: var(--white);
    cursor: default;
    border: 3px solid #FFFFFF;
    border-radius: 60px;
    height: 67%;
    margin-top: 8%;
}
/* FONDO DENTRO DEL FONDO DE ENMEDIO*/
.modal2-content{
    position: relative;
    background: #191919ef 0% 0% no-repeat padding-box;
    border-radius: 60px;
    color: white;
    height: 100%;
}
.modal2-dialog > * {
    padding: 1rem;
}
/* TITULO */
.modal2-header{
    background: #412828 0% 0% no-repeat padding-box;
    border-radius: 60px;
    border-bottom: 0px solid white;
    padding: 0.3rem;
    padding-bottom: 0;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.modal2-header h3{
    width: 100%;
    text-align: center;
    font: normal normal bold 1.8vw Roboto;
}
/* FLECHA DE CIERRE */
.close-modal2 {
    position: relative;
    top: -4%;
    left: 1%;
    font-size: 1.5rem;
    text-decoration: none;
    cursor: pointer;
    z-index: 5;
    width: 100%;
    margin-top: 1.1%;
}
#orden-felchaBlanca2{
    height: 30%;
    width: 2%;
    transform: rotate(90deg);
}
/* SECTION ITEMS */
.modal2-content-items{
    overflow-y: auto !important;
    overflow-x: hidden;
}
/* SCROLLVAR VERTICAL - FONDO DE LOS ITEMS */
.modal2-content-items::-webkit-scrollbar {
    visibility: hidden;
    width: 5px;
}
.modal2-content-items:hover::-webkit-scrollbar {
    background: #191919CF; 
    width: 5px;
}
.modal2-content-items::-webkit-scrollbar-thumb {
    background-color:#888;
    border-radius: 60px;
}
.modal2-content-items::-webkit-scrollbar-track {
    background: #191919CF;
}

/* MODAL ITEMS */
.modal2-item{
    display:inline-table;
    width: 15%;
    margin-left: 3.85%;
    margin-top: 1%;
    margin-bottom: 3%;
    color: #F8A733;
}
.modal2-item:hover{
    cursor: pointer;
}
.modal2-item:hover > .modal2-item-text{
    background: #D87425  0% 0% no-repeat padding-box;
    color:white;
    cursor: pointer;
}
.modal2-item-img img {
    width: 100%;
    height: auto;
    border-radius:20%;
}    
.modal2-item-text{
    padding: 0.5%;
    margin-top: -70%;
    background: #444444 0% 0% no-repeat padding-box;
    border-radius: 15%;
    z-index: 0;
}
.modal2-item-text h5 {
    font: normal normal bold 1.4vw Roboto;
    text-align: center;
    margin-top: 72%;
}   

.animate__animated.animate__backOutRight {
    --animate-duration: 0.5s;
}
.animate__animated.animate__backOutLeft {
    --animate-duration: 0.5s;
}
.animate__animated.animate__backInRight {
    --animate-duration: 0.5s;
}
.animate__animated.animate__backInLeft {
    --animate-duration: 0.5s;
}