.inicioSesion {
    background: url("../imagenes/fondoinicio.jpg") no-repeat top center fixed;
    background-size: cover;
    position: relative;
    height: 100%;
    overflow: hidden;
}
.fondo-inicioSesion{
    background: #191919CF 0% 0% no-repeat padding-box;
    border: 3px solid #FFFFFF;
    border-radius: 40px;
    margin-top: 15%;
    z-index: 2;
}
.fondo-inicioSesion form{
    margin-bottom: 8%;
}
.container-sm {
    width: 26.5%;
}

.titulo-inicioSesion{
    width: 100%;
    padding-top: 8.7%;
    padding-bottom: 2%;
    text-align: center;
    font: normal normal bold 2.1vw Roboto;
    letter-spacing: 1px;
    color: #FFFFFF;
}

.texto-inicioSesion{
    color: #F8A733;
    font: normal normal normal 1.6vw Roboto;
    letter-spacing: 0px;
    margin-left: 12.5%;
    margin-top: 5%;
    text-align: left;
}

.input-inicioSesion{
    width: 88.4%; 
    padding: 2%;
    background: #EFD9BBB8 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius:5px;
}
.input-inicioSesion:hover{
    width: 88.4%; 
    padding: 2%;
    background: #EFD9BBB8 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius:5px;
}

.boton-inicioSesion-div{
    text-align: center;
    margin-top: 6.5%;
}
button{
    width: 43%;
    padding: 1.5%;
}
